@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';

@import 'title';
@import 'nav';
@import 'img';
@import 'main';
@import 'footer';
@import 'typography';


@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Sono&display=swap');

* {
    font-family: 'Bitter', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Sono', sans-serif;
}

body {
    background-color: $background-color;
    height: 100vh;
}

* {
    color: $font-alternative-color;
}
